version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.7/site-packages
      - restore_cache:
          # key: <projectname>-{{ .Branch }}-{{ checksum "Pipfile.lock" }}  projectname can be anything, so long as it matches save_cache below.
          # key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          command: |
            pip install pipenv
            pipenv install --dev # --ignore-pipfile
            pipenv install -e . # pytest recommends this: install your package in "editable" mode by running this from the same directory
            # pipenv will use requirements.txt with these params.
            # conda env create --name methpypeenv -f=conda-env.yml
            # activate methpypeenv
      - save_cache:
          # key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - ".venv"
            - "/usr/local/bin"
            - "/usr/local/lib/python3.7/site-packages"
      - run:
          name: Running tests and test coverage
          command: |
            # pipenv run python setup.py test
            # set COVERALLS_REPO_TOKEN=<...> in ENVIRONMENT variables in circleci
            pipenv install coveralls # for coveralls.io -- this can be in Pipfile [dev] instead.
            #pipenv run coverage run --omit '*tests*','*/home/*' setup.py test
            # moved omit to setup.cfg; broke on circleci - no uploads
            pipenv run coverage run setup.py test
            pipenv run coverage report
            pipenv run coverage html
            pipenv run coverage xml
            pipenv run coveralls # -- pushes report to coveralls.io
      - store_artifacts:
          path: htmlcov # specific folder name where coverage always stores HTML reports
          destination: methpype
      - store_test_results:
          path: coverage.xml
